@model ReflectionIT.Mvc.Paging.PagingList<TakeAFlight.Models.FlightOrder>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "My Orders";
    ViewData.AddActivePage(ManageNavPages.MyOrders);
}

<h4>My Orders</h4>

@if (Model != null)
{
    <h5>Filter By:</h5>
    <form action="/Manage/MyOrders" method="get">
        <select class="b" asp-items="ViewBag.Items" name="DestId"></select>
        <label>Departure:</label>
        <input type="date" name="Departure" value="2019-01-08"/>
        <label>Price:</label>
        <input type="number" name="Price"/>
        <button class="btn btn-info" type="submit">Filter</button>
    </form>
    <br>
    <Table class="table">
        <thead>
            <tr>
                <th>
                    @Html.SortableHeaderFor(model => model.Flight.Destination)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Flight.Departure)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Flight.Price)
                </th>
                <th>
                    @Html.SortableHeaderFor(model => model.Quantity)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var DestinationDetails = item.Flight.Destination.ToString();
                <tr>
                    <td>@Html.DisplayFor(modelItem => DestinationDetails)</td>
                    <td>@Html.DisplayFor(modelItem => item.Flight.Departure)</td>
                    <td>@Html.DisplayFor(modelItem => item.Flight.Price)</td>
                    <td>@Html.DisplayFor(modelItem => item.Quantity)</td>
                </tr>
            }
        </tbody>
    </Table>

    <br />
    <vc:pager paging-list="@Model" />
}