@model TakeAFlight.Models.Flight

@{
	ViewData["Title"] = "Details";
	Layout = "~/Views/Shared/_Layout.cshtml";
	ViewData["DestinationData"] = Model.Destination.ToString();
}
<div class="container ">
    <div class="panel padding-16 card ">
        <h2>Details</h2>

        <div>
            <h4>Flight</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Price)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Price)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Duration)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Duration)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Departure)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Departure)
                </dd>
                <dt>
                    @Html.DisplayNameFor(model => model.Destination)
                </dt>
                <dd>
                    @ViewData["DestinationData"]
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="Edit" asp-route-id="@Model.FlightID">Edit</a> |
            <a asp-action="Index">Back to List</a>
        </div>
        </div>
</div>