@model ReflectionIT.Mvc.Paging.PagingList<TakeAFlight.Models.Flight>
@using ReflectionIT.Mvc.Paging
@addTagHelper *, ReflectionIT.Mvc.Paging
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Index</h2>

@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.SortableHeaderFor(model => model.Destination)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Departure)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Duration)
            </th>
            <th>
                @Html.SortableHeaderFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            var DestinationDetails = item.Destination.ToString();
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => DestinationDetails)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departure)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Duration)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>

                    <a id="AddToCartLink" asp-action="AddToCart" asp-route-id="@item.FlightID">
                        <span class="glyphicon glyphicon-shopping-cart"></span>
                    </a>
                    @if (User.IsInRole("Admin"))
                    {

                        <a asp-action="Edit" asp-route-id="@item.FlightID">|Edit|</a>
                        <a asp-action="Details" asp-route-id="@item.FlightID"> Details|</a>
                        <a asp-action="Delete" asp-route-id="@item.FlightID"> Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<br />
<vc:pager paging-list="@Model" />
